<%if(locals.user && locals.user.id == comment.user.id){%>
  <small>
      <a href="/comments/deleteComment/<%= comment.id %>">X</a>
  </small>
<%}%>
 <p><%= comment.user.name %> commented</p>
 <p><%= comment.content %></p>
 