<!-- common footer for layout -->
<footer id = "pageFooter">
    
    <div id = "home">
        <a href="/user/home">
            <p>Home</p>
        </a>
    </div>

    <div id = "profile">
        <a href="/user/profile">
            <p>Profile</p>
        </a>
    </div>

</footer>