<!-- common header for layout -->
<header>
    <p>Header of page</p>

<ul>
    <%if(locals.user){%>
        <li><%= user.name%></li>
        <li>
            <a href="/user/sign-out">
                <input type="button" value="Sign-out">
            </a>
        </li>
    <%}else{%>
        <li>
            <a href="/user/sign-in">
                <input type="button" value="Sign-in">
            </a>
        </li>
        <li>
            <a href="/user/sign-up">
                <input type="button" value="Sign-up">
            </a>
        </li>
    <%}%>
</ul>

</header>