<!-- common header for layout -->
<header id = "PageHeader">

    <div id = "logo">
        <a href="/user/home">
            <p>
                Just Share
            </p>
        </a>
    </div>

    <div id = "routs">
        <%if(locals.user){%>
            <li>
                <%= user.name%>
            </li>
            
            <a href="/user/sign-out">
                <input type="button" value="Sign-out" class="sign-inout-button">
            </a>
            
        <%}else{%>
            <a href="/user/sign-in">
                <input type="button" value="Sign-in" class="sign-inout-button">
            </a>
            <a href="/user/sign-up">                        
                <input type="button" value="Sign-up" class="sign-inout-button">
             </a>        
            <%}%>
    </div>

</header>