<link rel="stylesheet" href="/css/home.css">
<!-- home page after sign in -->
<main id = "home-container">
    <nav id = "page-navigation">

    </nav>
    
    <section id = "feed-post">
        
        <div id = "post-container">
            
            <div id = "profile-details">
                <i class="fas fa-user fa-3x"></i>
                <p><%=locals.user.name%></p>
            </div>
            
            <div id = "post-content">
                <form action="/post/create" method="POST" id = "new-post-form">
                    <textarea name="content" class = "input-style" cols="70" rows="7" placeholder="share your thought...." required ></textarea>
                    <input type="submit" value ="Post" id="post-button">
                </form>
            </div>
        </div>   
        <div id = "all-posts">
            <ul>
                <%for(let post of posts){%>
                    <%-include("_post", {post :post})-%>
                <%}%>
            </ul>
        </div>    
    </section>
    
    <aside id = "friend-section">

        <h4>Friends</h4>
        <%for(let friend of all_users){%>
            <p>
                <a href="/user/profile/<%= friend.id %>"><%=friend.name%></a>
            </p>
        <%}%>
    
    </aside>
</main>
<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_post.js"></script>
