<link rel="stylesheet" href="/css/home.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<main id = "home-container">
    <nav id = "home-nav-container">
        <div id= "nav-button-container">
            
            <div class = "nav-button">
                <a href="">
                    <div class = "nav-button-div">
                        <div class = "nav-icon">
                            <i class="fas fa-light fa-feather-pointed fa-customize fa-2x"></i>
                        </div>
                        <p class="nav-text">Share Post</p>
                    </div>
                </a>
            </div>

            <div class = "nav-button">
                <a href="">
                    <div class = "nav-button-div">
                        <div class = "nav-icon">
                            <i class="fas fa-solid fa-house fa-customize fa-2x"></i>
                        </div>
                        <p class="nav-text">Home</p>
                    </div>
                </a>
            </div>

            <div class = "nav-button">
                <a href="">
                    <div class = "nav-button-div">
                        <div class = "nav-icon">
                            <i class="fas fa-duotone fa-user fa-customize fa-2x"></i>
                        </div>
                        <p class="nav-text">Profile</p>
                    </div>
                </a>
            </div>

            <div class = "nav-button">
                <a href="">
                    <div class = "nav-button-div">
                        <div class = "nav-icon">
                            
                            <i class="fas fa-thin fa-message fa-customize"></i>
                        </div>
                        <p class="nav-text">Message</p>
                    </div>
                </a>
            </div>
                     
        </div>
        <form action="/post/create" method="POST" id = "new-post-form">
            <textarea name="content" class = "input-style" cols="25" rows="7" placeholder="share your thought...." required ></textarea>
            <input type="submit" value ="Post" id="post-button">
        </form>
    </nav>

    <section id = "home-post-container">
        <%for(let post of posts){%>
            <%-include("_post", {post :post})-%>
        <%}%>
    </section>
    
    <aside id = "home-aside-container"></aside>
</main>
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_post.js"></script>


