<!-- Linking to css -->
<link rel="stylesheet" href="/css/user_layout.css">
<h1> Visiting user page</h1>

<h1>Name</h1>
<p><%= userDetails.name%></p>
<h1>Email</h1>
<p><%= userDetails.email%></p>

<a href="/user/Sign-out">
    <input type="button" value = "Sign-out">
</a>