#pageFooter {
  display: flex;
  flex-direction: row;
  background-color: #4e4edf;
  height: 60px;
  width: 100%; }
  #pageFooter #home {
    margin-left: 10px; }
    #pageFooter #home a {
      text-decoration: none; }
      #pageFooter #home a p {
        color: white;
        text-decoration: none; }
  #pageFooter #profile {
    margin-left: 10px; }
    #pageFooter #profile a {
      text-decoration: none; }
      #pageFooter #profile a p {
        color: white; }
