#PageHeader {
  height: 70px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  background-color: #28282b; }
  #PageHeader #logo {
    margin-top: -30px;
    margin-left: 10px; }
    #PageHeader #logo a {
      text-decoration: none; }
      #PageHeader #logo a p {
        font-size: 2.3rem;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        margin: 40px 0px 0px 30px; }
  #PageHeader #routs {
    width: auto;
    display: flex;
    flex-direction: row; }
    #PageHeader #routs a {
      margin: 10px 40px 0px 0px; }
      #PageHeader #routs a .sign-inout-button {
        margin: 5px;
        margin-top: 10px;
        font-size: large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: black;
        color: white;
        padding: 5px; }
