#home-container {
  height: 91vh;
  width: 100%;
  display: flex;
  flex-direction: row; }
  #home-container #home-nav-container {
    height: 100%;
    width: 17%;
    border: 1px solid black; }
    #home-container #home-nav-container #nav-button-container {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      margin-top: 10%;
      margin-left: 10%; }
      #home-container #home-nav-container #nav-button-container .nav-button {
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px; }
        #home-container #home-nav-container #nav-button-container .nav-button a {
          text-decoration: none; }
          #home-container #home-nav-container #nav-button-container .nav-button a .nav-button-div {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            margin-left: 5px; }
            #home-container #home-nav-container #nav-button-container .nav-button a .nav-button-div .nav-icon {
              width: auto;
              display: flex;
              flex-direction: column;
              margin-top: 5px;
              margin-right: 5px; }
              #home-container #home-nav-container #nav-button-container .nav-button a .nav-button-div .nav-icon .fa-customize {
                margin-top: 5px;
                color: black;
                width: 50px;
                font-size: 30px;
                font-weight: 510; }
            #home-container #home-nav-container #nav-button-container .nav-button a .nav-button-div .nav-text {
              font-family: 'Open Sans', sans-serif;
              font-weight: 500;
              color: black; }
  #home-container #home-post-container {
    height: 100%;
    width: 60%;
    border: 1px solid black;
    margin-left: 2px;
    overflow-y: scroll; }
  #home-container #home-aside-container {
    height: 100%;
    width: 23%;
    border: 1px solid black;
    margin-left: 2px; }
